In [13]:
import pip
pip install yfinance

SyntaxError: invalid syntax (<ipython-input-13-781f53b01212>, line 2)

In [4]:
import pandas_datareader as pda

In [5]:
df=pda.DataReader("TSLA",data_source="yahoo",start="2010-01-01")

In [8]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-06-29,5.000000,3.508000,3.800000,4.778000,93831500.0,4.778000
2010-06-30,6.084000,4.660000,5.158000,4.766000,85935500.0,4.766000
2010-07-01,5.184000,4.054000,5.000000,4.392000,41094000.0,4.392000
2010-07-02,4.620000,3.742000,4.600000,3.840000,25699000.0,3.840000
2010-07-06,4.000000,3.166000,4.000000,3.222000,34334500.0,3.222000
...,...,...,...,...,...,...
2021-09-02,740.969971,730.539978,734.500000,732.390015,12777300.0,732.390015
2021-09-03,734.000000,724.200012,732.250000,733.570007,15246100.0,733.570007
2021-09-07,760.200012,739.260010,740.000000,752.919983,20039800.0,752.919983
2021-09-08,764.450012,740.770020,761.580017,753.869995,18757400.0,753.869995
2021-09-09,762.099915,753.010010,753.409973,757.344971,5161570.0,757.344971